<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [ ]:
df = pd.read_csv('/datasets/insurance.csv')
df

      Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0       1     41.0   49600.0            1                  0
1       0     46.0   38000.0            1                  1
2       0     29.0   21000.0            0                  0
3       0     21.0   41700.0            2                  0
4       1     28.0   26100.0            0                  0
...   ...      ...       ...          ...                ...
4995    0     28.0   35700.0            2                  0
4996    0     34.0   52400.0            1                  0
4997    0     20.0   33900.0            2                  0
4998    1     22.0   32700.0            3                  0
4999    1     28.0   40600.0            1                  0

[5000 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

*Данные не имеют пропусков, предобработка не требуется*

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.*

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:**  Не изменится.

**Обоснование:**


$$
w' = ((XP)^T XP)^{-1} (XP)^T y = (P^T X^T X P)^{-1} (XP)^T y = (P^T (X^T X) P)^{-1} P^T X^T y = P^{-1} (X^T X)^{-1} (P^T)^{-1} P^T X^T y=P^{-1}w
$$
$$
a' = X\cdot P\cdot w' = X\cdot P\cdot P^{-1}w = X\cdot w
$$
$$
a' = a
$$

## Алгоритм преобразования

**Алгоритм:**
1.Создание рандомной матрицы
2.Перемножение признаков на полученную матрицу
3.Проверка метрики качетсва модели до и после преобразования

*Разделим выборку на обучающую и тестовую*

In [ ]:
features = df.drop('Страховые выплаты',axis=1)# отделяем признаки
target = df['Страховые выплаты']# отделяем целевые признаки

In [ ]:
features_train, features_test, target_train, target_test = train_test_split(
    features, target, test_size = 0.25, random_state=123) # Делим выборки на трейн и тест

In [ ]:
model = LinearRegression()# обучаем линейную регрессию на текущих данных
model = model.fit(features_train, target_train)
predictions = model.predict(features_test)
r2_score(target_test, predictions)

0.43018469990932917

*После обучения на исходных данных метрика r2=0.43*

*Преобразуем данный умножив признаки на матрицу*

In [ ]:
matrix = np.random.rand(4,4)# Создаем случайную матрицу размеров 4Х4
np.linalg.inv(matrix)

array([[-0.95426652,  1.74488973, -1.0987188 , -0.03447386],
       [ 1.22676521, -2.61252861,  1.27756807,  2.10007119],
       [ 1.41141158, -0.41510271, -0.14694593, -0.32552958],
       [-0.93264061,  1.2148771 ,  0.54768141, -0.93285358]])

In [ ]:
matrix

array([[0.46613384, 0.34164932, 0.99429081, 0.40493749],
       [0.91765506, 0.50888091, 0.74169438, 0.85287508],
       [0.11730335, 0.49228373, 0.30950789, 0.99590443],
       [0.79792548, 0.61017763, 0.15357527, 0.21859336]])

## Проверка алгоритма

In [ ]:
df_copy = df.copy()#Копирую исходные данные и повторно делим на тест и трейн
features = df_copy.drop('Страховые выплаты',axis=1)
target = df_copy['Страховые выплаты']

In [ ]:
tests = np.dot(features.values,matrix)#Умножаем признаки на матрицу
tests_train, tests_test, target_train, target_test = train_test_split(tests, target,
                                                                            test_size=0.25, random_state=12345)

In [ ]:
model1 = LinearRegression()#Обучаем модель после преобразования
model1 = model1.fit(tests_train, target_train)
predictions1 = model1.predict(tests_test)

In [ ]:
r2_score(target_test, predictions1)

0.4352275712702627

*После преобрзования метрика r2 почти не изменилась и тоже равна 0.43*

*Проверим данные на обратимость, для этого умножим кодированные данные, на обратную матрицу(ключ)*

In [ ]:

pd.DataFrame(tests)# Посмотрим преобразованнные данные

                0             1             2             3
0     5857.134198  24439.089100  15383.148520  49432.451166
1     4500.537451  18730.800552  11795.571214  37883.819209
2     2489.982398  10352.715939   6521.174759  20938.726420
3     4912.416404  20540.138519  12922.361611  41547.562319
4     3087.777974  12863.195745   8099.917578  26017.391078
...           ...           ...           ...           ...
4995  4215.019875  17589.998288  11070.506151  35578.105861
4996  6178.693866  25813.579736  16243.584451  52214.608509
4997  3996.532600  16699.816521  10507.458400  33778.654885
4998  3858.867946  16111.045630  10138.680191  32585.898849
4999  4789.474510  20001.920051  12587.935512  40458.223915

[5000 rows x 4 columns]

In [ ]:
features# Посмотрим исходные данные

      Пол  Возраст  Зарплата  Члены семьи
0       1     41.0   49600.0            1
1       0     46.0   38000.0            1
2       0     29.0   21000.0            0
3       0     21.0   41700.0            2
4       1     28.0   26100.0            0
...   ...      ...       ...          ...
4995    0     28.0   35700.0            2
4996    0     34.0   52400.0            1
4997    0     20.0   33900.0            2
4998    1     22.0   32700.0            3
4999    1     28.0   40600.0            1

[5000 rows x 4 columns]

In [ ]:
back = tests@np.linalg.inv(matrix)# Умножим преобразованнные данные на ключ(обратную матрицу), для получение исходных фичей
pd.DataFrame(back)

                 0     1        2             3
0     1.000000e+00  41.0  49600.0  1.000000e+00
1    -1.889423e-12  46.0  38000.0  1.000000e+00
2     3.180666e-12  29.0  21000.0  5.956135e-12
3    -5.517851e-12  21.0  41700.0  2.000000e+00
4     1.000000e+00  28.0  26100.0  4.428912e-12
...            ...   ...      ...           ...
4995 -3.714888e-13  28.0  35700.0  2.000000e+00
4996  8.760971e-12  34.0  52400.0  1.000000e+00
4997 -1.198474e-12  20.0  33900.0  2.000000e+00
4998  1.000000e+00  22.0  32700.0  3.000000e+00
4999  1.000000e+00  28.0  40600.0  1.000000e+00

[5000 rows x 4 columns]

После обратного преобразования, данные идентичны исходным

***В результате иследования доказанно что метрика R2 не меняется при умножении данных на матрицу***